<h3>ВЛИВАНИЕ ПО 24 МИНУТЫ НА НЕДЕЛЮ</h3>
<td> Стража: <%= @guard_infusion_7 %><td>
<h4>МЕСТНОЕ СОЛНЕЧНОЕ ВРЕМЯ: <%=  @sun_datetime_zone %></h4>
<h4>EOT: <%=  @eot %></h4>
<h4>@offset_timezone_doctor разница солн/местн, сек: <%=  @offset_timezone_doctor %></h4>
<h4>Расчетное время: @doctor_current_datetime_utc.in_time_zone <%=  @doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone).to_s(:short) %></h4>

  <h2>Солнечное время в г. <%= @doctor_city.name.to_s %> сейчас: <%= @sun_time.to_s(:short) %></h2>
  <% if params[:a]%>
  <%=link_to 'Сброс точки', params.permit!.merge({a: nil}) %>
<% end %>

 <table > <% @opened_points_infusion.each do |day| %>
   <tr class = "infusion_7"><% day.each do |part| %>
    <caption class = "infusion_7"><%= part[:date].strftime('%d %b, %A')  %></<caption>
      <table class = "infusion_7"> <% part[:point].each do |opened_points|  %>
        <tr>
          <td>
            <%= opened_points[:time]  %>
          </td>
          <td>
            <% if opened_points[:point].is_a?(Array)  %>
              <%= "открыты: " + opened_points[:point][0][:name] + " и " + opened_points[:point][1][:name] %>
              <% else  %>
              <%=  "открыта: " + opened_points[:point].name %>
            <% end  %>
          </td>
        </tr>
        <% end  %>
      </table>
  </tr>
  <% end  %>
  <% end %>
</table>


<table class = "infusion_7">
  <% @opened_points_infusion.map do |elem, day| %>
    <tr>
      <tr>
      <td><%= elem[:date].strftime('%d %b, %A') %></td>
      <tr><%  elem[:point].each do |day| %></tr>
        <td><%=  day[:time] %></td>

            <% if day[:point].is_a?(Array) %>

              <td><%= "укалываем " + day[:point][0][:name] + " и " + day[:point][1][:name] %></td>
              <% else %>
              <td><%=  "укалываем " + day[:point].name %></td>
              <% end %>

            <% end %>
      </tr>


    </tr>
 <% end %>
</table>
