<h1> лингуй_7_дней </h1>
<h1><%=  @doctor_current_datetime_utc %></h1>
<% if params[:a]%>
  <%=link_to 'Сброс точки', params.permit!.merge({a: nil}) %>
<% end %>
<table><% @opened_points_linguibafa.each do |elem| %>
  <tr>
    <td><%= elem[:date].in_time_zone(current_doctor.city.time_zone).to_s(:short) %></td>
    <td><%= elem[:point].to_s%></td>
    <td>
      <table>
        <% (0..23).select{ |h| h.even? }.each do  |hour| %>
          <% date = elem[:date].change(hour: hour) %>
          <%  point = opened_point_linguibafa(@doctor_city, date) %>
          <tr>
            <td> <%= (date-@offset_for_time_table.hour).strftime("%H:%M")  %> </td>
            <td> - </td>
            <td> <%= (date-@offset_for_time_table.hour+2.hour).strftime("%H:%M")  %> </td>
           <td>
            <% if params[:a]%>
             <%  if point == params[:a] %>
              <%= point %>
              <%  end%>
            <%  else %>
            <%=  link_to point, params.permit!.merge({a: point})%>
            <%  end %>

           </td>
          </tr>
        <% end %>
      </table>

    </td>
  </tr>
  <% end %>
</table>