<h2> лингуй_7_дней </h2>
<h4>ГРИНВИЧ: <%=  @doctor_current_datetime_utc %></h4>
<h4>СОЛНЕЧНОЕ ВРЕМЯ: <%=  @sun_time %></h4>
<h4>МЕСТНОЕ СОЛНЕЧНОЕ ВРЕМЯ: <%=  @sun_datetime_zone %></h4>
<h4>Расчетное время: <%=  @doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone)%></h4>
<h4>EOT: <%=  @eot %></h4>
<td> Стража: <%= @guard %><td>
<h4>@offset_timezone_doctor разница солн/местн, сек: <%=  @offset_timezone_doctor %></h4>
<h4>Ствол дня: <%= @trunc_day %>, Ветвь дня: <%= @brunch_day %></h4>
<h4></h4>
<h4>разница солн/местн, сек:<%= @offset_timezone_doctor %> </h4>
<h4>offset_for_time_table: <%= @offset_for_time_table  %>, <%= @offset_for_time_table.class %> </h4>

<% if params[:a]%>
  <%=link_to 'Сброс точки', params.permit!.merge({a: nil}) %>
<% end %>
<table><% @opened_points_linguibafa.each do |elem| %>
  <tr>
    <td><%=  elem[:date].in_time_zone(current_doctor.city.time_zone)  %></td>
    <td><%= elem[:point].to_s%></td>
    <td>Ствол ЧАСА: <%= @trunc_hour %> </td>
    <td>Ветвь ЧАСА: <%= @brunch_hour %> </td>
    <td>
      <table>
          <h4  class="highlight" > <%=  I18n.l elem[:date].strftime("%v, %A").to_datetime  %></h4>
        <% (0..23).select{ |h| h.odd? }.each do  |hour| %>
         <% date = (ActiveSupport::TimeZone[current_doctor.city.time_zone].local(elem[:date].year, elem[:date].month, elem[:date].day, elem[:date].hour, 0, 0).change(hour: hour)-2.hours )%>
          <%  point = opened_point_linguibafa(@doctor_city, date+@offset_for_time_table) %>
          <tr class="<%= (date+@offset_timezone_doctor..date+@offset_timezone_doctor+2.hour).cover?(@doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone)) ? 'highlight' : '' %>">
            <td> <%= (date+@offset_timezone_doctor).strftime("%H:%M")  %> </td>
            <td> - </td>
            <td> <%= (date+@offset_timezone_doctor+2.hour).strftime("%H:%M")  %> </td>
           <td>
            <% if params[:a]%>
             <%  if point == params[:a] %>
              <%= point %>
              <%  end%>
            <%  else %>
          <div  class="<%= (date+@offset_timezone_doctor..date+@offset_timezone_doctor+2.hour).cover?(@doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone)) ? 'highlight_2' : '' %>"> <%=  link_to point, params.permit!.merge({a: point})%>
            </div>
            <%  end %>

           </td>
          </tr>
        <% end %>
      </table>

    </td>
  </tr>
  <% end %>
</table>
