<h1> лингуй_7_дней </h1>
<h4>Поправка EOT <%= @eot %> секунды <h4>
<h4>ГРИНВИЧ: <%=  @doctor_current_datetime_utc %></h4>
<h4>МЕСТНОЕ ВРЕМЯ: <%=  @doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone) %></h4>
<h4>СОЛНЕЧНОЕ ВРЕМЯ: <%=  @sun_time %></h4>
<h4>offcet в часах: <%=  @offset_for_time_table.to_i %></h4>
<% if params[:a]%>
  <%=link_to 'Сброс точки', params.permit!.merge({a: nil}) %>
<% end %>
<table><% @opened_points_linguibafa.each do |elem| %>
  <tr>
   <td><%= elem[:date].in_time_zone(current_doctor.city.time_zone) %></td>
    <td>По ЛинГуйБаФе: <%= elem[:point].to_s%></td>
    <td>
      <table>
        <% (0..23).select{ |h| h.even? }.each do  |hour| %>
         <% date = elem[:date].in_time_zone(current_doctor.city.time_zone).change(hour: hour) %>
          <%  point = opened_point_linguibafa(@doctor_city, date.in_time_zone(current_doctor.city.time_zone)) %>
          <tr class="<%= (date-@offset_for_time_table.hour..date-@offset_for_time_table.hour+2.hour).cover?(@doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone)) ? 'highlight' : '' %>">
            <td> <%= (date-@offset_for_time_table.hour).strftime("%H:%M")  %> </td>
            <td> - </td>
            <td> <%= (date-@offset_for_time_table.hour+2.hour).strftime("%H:%M")  %> </td>
           <td>
            <% if params[:a]%>
             <%  if point == params[:a] %>
              <%= point %>
              <%  end%>
            <%  else %>
          <div  class="<%= (date-@offset_for_time_table.hour..date-@offset_for_time_table.hour+2.hour).cover?(@doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone)) ? 'highlight_2' : '' %>">  <%=  link_to point, params.permit!.merge({a: point})%>
            </div>
            <%  end %>

           </td>
          </tr>
        <% end %>
      </table>

    </td>
  </tr>
  <% end %>
</table>
