 <% @title="lingui" %>


<h2> лингуй_7_дней </h2>
<h4>ГРИНВИЧ: <%=  @doctor_current_datetime_utc %></h4>
<h4>СОЛНЕЧНОЕ ВРЕМЯ: <%=  @sun_time %></h4>
<h4>МЕСТНОЕ СОЛНЕЧНОЕ ВРЕМЯ: <%=  @sun_datetime_zone %></h4>
<h4>Расчетное время: <%=  @doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone)%></h4>
<h4>EOT: <%=  @eot %></h4>
<h4> @sum_of_numbers_linguibafa <%= @sum_of_numbers_linguibafa %></h4>
   <h4>Ствол/ветвь дня: <%= @trunc_day %>/<%= @brunch_day %></h4>
  <h4>Ствол/ветвь часа: <%= @trunc_hour %>/<%= @brunch_hour %></h4>
  <h4>Стража @guard: <%=  @guard %></h4>
<h4>@offset_timezone_doctor разница солн/местн, сек: <%=  @offset_timezone_doctor %></h4>
<h4></h4>
<h4>разница солн/местн, сек:<%= @offset_timezone_doctor %> </h4>
<h4>offset_for_time_table: <%= @offset_for_time_table  %>, <%= @offset_for_time_table.class %> </h4>

<% if params[:a]%>
  <%=link_to 'Сброс точки', params.permit!.merge({a: nil}) %>
<% end %>
<table><% @opened_points_linguibafa.each do |elem| %>
  <tr>
    <td><%= elem[:date]+@offset_timezone_doctor.seconds  %></td>
    <td><%= elem[:point].to_s%></td>
    <td>Ствол ЧАСА: <%= @trunc_hour %> </td>
    <td>Ветвь ЧАСА: <%= @brunch_hour %> </td>
    <td>
      <table>
          <h4  class="highlight" > <%= I18n.l(elem[:date].to_datetime, :format => '%d %b, %A')%></h4>
          <h4  class="highlight" > <%= elem[:date].strftime('%d %b, %A')%></h4>

        <% (1..23).select{ |h| h.odd? }.each do  |hour| %>

           <% date = (ActiveSupport::TimeZone[current_doctor.city.time_zone].local(elem[:date].year, elem[:date].month, elem[:date].day, elem[:date].hour, 0, 0).change(hour: hour))%>
           <% calculation_date = date.change(hour: hour, min: date.strftime('%M'))  %>

          <% point = opened_point_linguibafa(@doctor_city, (calculation_date+@offset_timezone_doctor.seconds)) %>

        <% highlight = ((calculation_date)..(calculation_date+2.hours)).cover?(elem[:date].in_time_zone(current_doctor.city.time_zone)) && point == elem[:point] %>

          <tr class="<%= highlight ? 'highlight' : '' %>">
            <td> <%= (date+@offset_timezone_doctor.seconds).strftime("%H:%M")   %> </td>
            <td> - </td>
            <td> <%= (date+@offset_timezone_doctor.seconds+2.hours).strftime("%H:%M")  %> </td>
             <td>
              <% if params[:a]%>
               <%  if point == params[:a] %>
                <%= point %>
                <%  end%>
                <%  else %>
                  <%= date %>
               <div  class="<%= highlight ? 'highlight_2' : '' 'points_linguibafa_7' %>"> <%= link_to point, params.permit!.merge({a: point})%>
                </div>
              <%  end %>
             </td>
          </tr>

        <% end %>
      </table>

    </td>
  </tr>
  <% end %>
</table>
