<ul class="hexagrams">
   <li class="trigrams_child"><%= hexagram @hexagram %></li>
   <li class="trigrams_child"><%= @hexagram.name %></li>
</ul>
Сколько подходящих: <%= @hexagram.favorable_with_hexagrams(Hexagram.favorable).count %>
<table>
  <% @hexagram.favorable_with_hexagrams(Hexagram.favorable.sort).each do |h| %>
    <tr class="hexagrams">
      <td class="trigrams_child">
        <%= hexagram(@hexagram, compared_hexagram: h) %>
         <%= @hexagram.number %>, <%= @hexagram.name %>
      </td>
      <td>
        <h1>=></h1>
      </td>

      <td>
        <%= hexagram(h) %>
        <%= h.number %>, <%= h.name %>
      </td>
    </tr>
  <% end %>
</table>
<br>

