<ul class="hexagrams">
   <li class="trigrams_child"><%= hexagram @hexagram %></li>
   <li class="trigrams_child"><%= @hexagram.name %></li>
</ul>
Сколько подходящих: <%= @hexagram.favorable_with_hexagrams(Hexagram.favorable).count %>

<div class="favorable_hexagram_wrapper">
  <% @hexagram.favorable_with_hexagrams(Hexagram.favorable).each do |h| %>
    <% if @hexagram.number != h.number %>
      <div class="favorable_hexagram">
        <div class="favorable_hexagram_child">
          <div class="favorable_hexagram_child_title"><%= @hexagram.name %></div>
          <div><%= hexagram(@hexagram, compared_hexagram: h) %></div>
        </div>

        <div class="favorable_hexagram_child">
          <div class="favorable_hexagram_child_title"><%= h.name %></div>
          <div><%= hexagram(h) %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


