
  <% if doctor_signed_in? %>
      <span>Здравствуйте, <%= current_doctor.name.to_s + " " + "(" + current_doctor.email.to_s + ")" %></span>
       <%= link_to 'Личный кабинет', edit_doctor_registration_path, class: 'btn-control', :method => :get %>
       <%= link_to 'Выйти', destroy_doctor_session_path, class: 'btn-control', :method => :delete, data: { confirm: 'Уверены, выходим?' } %>

  <% else %>
      <%= link_to 'Войти',  new_doctor_session_path , class: 'btn-control' %> или <%= link_to 'Зарегистрироваться', new_doctor_registration_path %>
  <% end %>

  <div>
    <%= form_with  local: true, method: :get, url: patients_path do |f| %>
    <%= f.label  'Поиск по имени'  %>
    <%= f.text_field :name %>
    <%= f.submit "Искать", class: 'btn-control' %>
    <% end %>

    <p><%= form_with  local: true, method: :get, url: patients_path do |f| %>
    <%= f.label  'Поиск по диагнозу'  %>
    <%= f.text_field :diagnosis %>
    <%= f.submit "Искать", class: 'btn-control' %>
    <% end %></p>
  </div>

<p>
    <h3>МЕТОД ЛИНГУЙБАФА</h3>
    <%= form_with local: true, method: :get, url: points_linguibafa_path do |f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone) %>
    <%= f.submit "Рассчитать" %>
    <% end %>
</p>

<p>
    <h3>ЛИНГУЙБАФА на неделю</h3>
    <%= form_with local: true, method: :get, url: points_linguibafa_7_times_path do |f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone)%>
    <%= f.submit "Рассчитать" %>
    <% end %>
</p>

  <p>
    <h3>МЕТОД "24 минуты"</h3>
    <%= form_with local: true, method: :get, url: points_infusion_path do |f| %>
    <%= f.label " Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone) %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>

  <p>
    <h3>МЕТОД "24 минуты - 2"</h3>
    <%= form_with local: true, method: :get, url: points_infusion_2_path do |f| %>
    <%= f.label " Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>

  <p>
    <h3>МЕТОД НАГАНЬФА</h3>
    <%= form_with html: {target: '_blank', class: "form-control"}, local: true, method: :get, url: points_naganfa_path do|f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now %>
    <%= f.submit  "Рассчитать"%>
    <% end %>
  </p>

  <p>
    <div>
      <h3><%= label_tag( "Добавить пациента") %></h3>
      <%= form_with local: true, method: :post, url: patients_path do |f| %>
        <%= f.label  "Имя" %>
        <%= f.text_field :name  %>
        <%= f.label 'Дата рождения' %>
        <%= f.datetime_select(:birthdate, start_year: 1920, end_year: DateTime.current.year, default: {year: 30.years.ago.year, hour: 12, min: 00} )%>
        <p><%= f.text_area :description,  placeholder: 'Описание', size: "48x3" %></p>
        <p><%= f.text_area :diagnosis, placeholder: 'Диагноз:', size: "48x3" %></p>
                <%= f.label 'Место рождения (выбрать ближайший город): ' %>
        <%= f.collection_select(:city_id, City.all.sort_by(&:name), :id, :name, { :selected => current_doctor.city&.id}  ) %></p>
        <p><%= f.submit  "Добавить пациента", class: 'btn-control' %></p>
      <% end %>
    </div>
  </p>

  <h3>Список пациентов </h3>

    <% @patients.each do |i| %>
      <div class="patient_list_control" ><%= "Карта № " + " " + i.id.to_s + " " + i.name.to_s + " " + i.birthdate.strftime( "%d.%m.%y") + "г.  в " + i.birthdate.strftime( "%H:%M")  + " " + i.diagnosis.to_s %></div>
    <div class="li-control">
      <%= link_to 'Страница пациента', patient_path(id: i.id), action: :show, class: 'btn-control' %>
   </div>
    <p></p>
    <% end %>


