
   <% @title="patients" %>
  <% if doctor_signed_in? %>
      <span>Здравствуйте, <%= current_doctor.name.to_s + " " + "(" + current_doctor.email.to_s + ")" %></span>
       <%= link_to 'Личный кабинет', edit_doctor_registration_path, class: 'btn-control', :method => :get %>
       <%= link_to 'Выйти', destroy_doctor_session_path, class: 'btn-control', :method => :delete, data: { confirm: 'Уверены, выходим?' } %>
  <h4>Пациентов у вас, доктор: <%= current_doctor.patients.count %>  :)</h4>
  <% else %>
      <%= link_to 'Войти',  new_doctor_session_path , class: 'btn-control' %> или <%= link_to 'Зарегистрироваться', new_doctor_registration_path %>
  <% end %>
  <div>
    <%= form_with  local: true, method: :get, url: patients_path do |f| %>
    <%= f.label  'Поиск по имени'  %>
    <%= f.text_field :name %>
    <%= f.submit "Искать", class: 'btn-control' %>
    <% end %>

    <p><%= form_with  local: true, method: :get, url: patients_path do |f| %>
    <%= f.label  'Поиск по диагнозу'  %>
    <%= f.text_field :diagnosis %>
    <%= f.submit "Искать", class: 'btn-control' %>
    <% end %></p>
  </div>

<p>
    <h3>МЕТОД ЛИНГУЙБАФА</h3>
    <%= form_with local: true, method: :get, url: points_linguibafa_path do |f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone) %>
    <%= f.submit "Рассчитать" %>
    <% end %>
</p>

<p>
    <h3>ЛИНГУЙБАФА на неделю</h3>
    <%= form_with local: true, method: :get, url: points_linguibafa_7_times_path do |f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone)%>
    <%= f.submit "На неделю" %>
    <% end %>
</p>

  <p>
    <h3>МЕТОД "24 минуты"</h3>
    <%= form_with local: true, method: :get, url: points_infusion_path do |f| %>
    <%= f.label " Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone) %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>

  <p>
    <h3>МЕТОД "24 минуты - 2"</h3>
    <%= form_with local: true, method: :get, url: points_infusion_2_path do |f| %>
    <%= f.label " Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone) %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>

  <p>
    <h3>24 минуты на неделю</h3>
    <%= form_with local: true, method: :get, url: points_infusion_7_times_path do |f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone)%>
    <%= f.submit "На неделю" %>
    <% end %>
</p>

   <p>
    <h3>methods_mix</h3>
    <%= form_with local: true, method: :get, url: points_methods_mix_path do |f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone)%>
    <%= f.submit "На неделю" %>
    <% end %>
  </p>

  <p>
    <h3>МЕТОД НАГАНЬФА</h3>
    <%= form_with html: {target: '_blank', class: "form-control"}, local: true, method: :get, url: points_naganfa_path do|f| %>
    <%= f.label "Выберите время: " %>
    <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone) %>
    <%= f.submit  "Рассчитать"%>
    <% end %>
  </p>

    <p>
      <h3>НАГАНЬФА на неделю</h3>
      <%= form_with local: true, method: :get, url: points_naganfa_7_times_path do |f| %>
      <%= f.label "Выберите время: " %>
      <%=  f.datetime_select  :date, default: DateTime.now.in_time_zone(current_doctor.city.time_zone)%>
      <%= f.submit "На неделю" %>
      <% end %>
    </p>

  <p>
    <div>
      <h3><%= label_tag( "Добавить пациента") %></h3>
      <%= form_with local: true, method: :post, url: patients_path do |f| %>
        <%= f.label  "Имя" %>
        <%= f.text_field :name  %>
        <%= f.label 'Дата рождения' %>
        <%= f.datetime_select(:birthdate, start_year: 1920, end_year: DateTime.current.year, default: {year: 30.years.ago.year, hour: 12, min: 01} )%>
        <p><%= f.text_area :description,  placeholder: 'Описание', size: "48x3" %></p>
        <p><%= f.text_area :diagnosis, placeholder: 'Диагноз:', size: "48x3" %></p>
                <%= f.label 'Место рождения (выбрать ближайший город): ' %>
        <%= f.collection_select(:city_id, City.all.sort_by(&:name), :id, :name, { :selected => current_doctor.city&.id}  ) %></p>
        <p><%= f.submit  "Добавить пациента", class: 'btn-control' %></p>
      <% end %>
    </div>
  </p>

  <h3>Список пациентов </h3>

    <% @patients.each do |i| %>
      <div class="patient_list_control" ><%= "Карта № " + " " + i.id.to_s + " " + i.name.to_s + " " + i.birthdate.strftime( "%d.%m.%y") + "г.  в " + i.birthdate.strftime( "%H:%M")  + " " + i.diagnosis.to_s %></div>
    <div class="li-control">
      <%= link_to 'Страница пациента', patient_path(id: i.id), action: :show, class: 'btn-control' %>
   </div>
    <p></p>
    <% end %>


<h5>ТОЧКИ ТРАНСФОРМАЦИИ У-СИН:</h5>
<h5>ИНЬСКИЕ:</h5><ul>
  <li>Печень питаем:      R.7  Фу-лю (металл) </li>
  <li>Сердце питаем:      F.8  Цюй-цюань (вода) </li>
  <li>Перикард питаем:    F.8  Цюй-цюань (вода). Но слабее, чем Сердце </li>
  <li>Селезенку питаем:   C.9  Шао-чун (дерево) и, сильнее: Mc.9 Чжун-чун </li>
  <li>Легкие питаем:      Rp.2 Да-ду (огонь)</li>
  <li>Почки питаем:       P.9  Тай-юань (земля)</li>
</ul>
<h5>ЯНСКИЕ:</h5>
<ul>
  <li>Желчный питаем:  V.67  Чжи-инь (металл)</li>
  <li>Тонкий и Тройной(слабее) питаем:   Gb.43 Ся-си (вода)</li>
  <li>Желудок питаем:  Ig.3  Хоу-си (дерево) и, сильнее: Tr.3 Чжун-чжу</li>
  <li>Толстый питаем:  E.41  Цзе-си (огонь)</li>
  <li>Мочевой питаем:  Gi.11  Цюй-чи (земля)</li>
</ul>

<h5>ТОЧКИ "КАЧЕСТВА" У-СИН: ("элемент в элементе")</h5>
<h5>ИНЬСКИЕ:</h5><ul>
  <li>Печень питаем:      R.10 Инь-гу (вода) </li>
  <li>Сердце и Перикард(слабее) питаем:      F.1 Да-дунь (дерево) </li>
  <li>Селезенку питаем:   C.8 Шао-фу (огонь) и, сильнее: Mc.9 Лао-гун </li>
  <li>Легкие питаем:      Rp.3 Тай-бай (земля) </li>
  <li>Почки питаем:       P.8 Цзин-цюй (металл)  </li>
</ul>
<h5>ЯНСКИЕ:</h5><ul>
  <li>Желчный питаем: V.66 Цзу-тун-гу(вода) </li>
  <li>Тонкий и Тройной(слабее) питаем:  Vb.41 Цзу-линь-ци(дерево) </li>
  <li>Желудок питаем:  Ig.5 Ян-гу(огонь) и Tr.6 Чжи-гоу </li>
  <li>Толстый питаем:  E.36 Цзу-сань-ли(земля) </li>
  <li>Мочевой питаем:  Gi.1 Шан-ян(металл)  </li>
</ul>


<h5>ТОЧКИ ТРАНСФОРМАЦИИ СЕЗОННОЙ ЦИ:</h5> бабушка питает
<ul>
  <li> ДЕРЕВО питаем: Gb.44 Цзу-цяо-инь (металл), Th.1 Гуань-чун (металл)</li>
  <li> ОГОНЬ питаем: Gi.2 Эр-цзянь(вода), P.5 Чи-цзе(вода) </li>
  <li> ЗЕМЛЮ питаем: С.9 Шао-чун, Rp.1 Инь-бай(дерево)  </li>
  <li> МЕТАЛЛ питаем: E.41 Цзе-си(огонь),  Ig.5 Ян-гу(огонь),
       Мс.8 Лао-гун(огонь), F.2 Син-цзянь(огонь)  </li>
  <li> Желчный и Тройной (воду) питаем: V.40 Вэй-чжун(земля), R.3 Тай-си(земля)  </li>
</ul>
<h5>ТОЧКИ КАЧЕСТВА СЕЗОННОЙ ЦИ:</h5> бабушка питает
<ul>
  <li> ДЕРЕВО питаем: Vb.43 Ся-си(вода) и Th.2 Е-мэнь(вода) </li>
  <li> ОГОНЬ питаем: Gi.3 Син-цзянь и P.11 Шао-шан </li>
  <li> ЗЕМЛЮ питаем: C.8 Шао-фу(огонь)  и Rp.2 Да-ду(огонь) </li>
  <li> МЕТАЛЛ питаем: E.36 Цзу-сань-ли(земля), Ig.8 Сяо-хай(земля), F.3 Тай-чун(земля), Mc.7 Да-лин(земля) </li>
  <li> ВОДУ питаем: V.67 Чжи-инь(металл) и R.7 Фу-лю(металл) </li>
</ul>