<table>
  <tr>
    <td><%= @patient.name + " " + @patient.birthdate.strftime( "%d.%m.%y") %><td>
    <td><%= @patient.diagnosis %><td>
    <td><%= @patient.description %><td>
    <td><%= 'Номер карты: ' + @patient.id.to_s %><td>
    <td><%= 'Визитов: ' + @patient.visits.count.to_s %><td>
  </tr>
</table>

<p>
  <div>
    <h3><%= label_tag( "Добавить сеанс") %></h3>
    <%= form_with local: true, method: :post, url: visits_path, html: {onsubmit: "return confirm('Сохраняем сеанс?');"} do |f| %>
      <%= hidden_field_tag(:patient_id, @patient.id) %>
      <%= f.label 'Дата сеанса:' %>
      <%= f.datetime_select( :visited_at, default: DateTime.now) %>
      <h4>Примечание к сеанcу:</h4>
      <p><%= text_area_tag :visit_description, nil, placeholder: 'Описание', size: "48x3" %></p>

      <h4>Лечение:</h4>
      <p><%= text_area_tag  :treatment, nil, placeholder: 'лечение:', size: "48x3" %></p>
      <p><%= f.submit "Записать сеанс", class: 'btn-control' %></p>
    <% end %>
  </div>
</p>
<h3>Объем лечения:</h3>
<ol>
  <% @patient.visits.each do |t| %>
  <li><%= t.visited_at.strftime( "%d.%m.%y") + "г. в " + t.visited_at.strftime( "%H:%M") + ". " + "Номер дня в году: " + t.visited_at.strftime("%j") %></li>
  <ul>
    <li><%= t.visit_description.to_s %></li>

    <li><%= t.treatment %></li>
   <%= link_to 'Удалить сеанс', t , action: :delete,  method: :delete, data: { confirm: 'Точно удалить сеанс?' }, class: 'btn-control' %>
  </ul>
  </li>
  <% end %>
</ol>

<p>
  <div>
    <h3><%= label_tag( "Изменить данные пациента") %></h3>
    <%= form_with local: true, method: :patch, url: patient_path(id: @patient.id), html: {onsubmit: "return confirm('Вы уверены?');"} do |f| %>
      <%= f.label "Имя" %>
      <%= f.text_field  :name, value: @patient.name  %>

      <%= f.label 'Дата рождения' %>
      <%= f.datetime_select( :birthdate, start_year: 1920, end_year: DateTime.current.year, default: @patient.birthdate) %>
      <h4>Описание состояния:</h4>
      <p><%= text_area_tag :description, @patient.description, placeholder: 'Описание', size: "48x3" %></p>
      <h4>Диагноз:</h4>
      <p><%= text_area_tag :diagnosis,  @patient.diagnosis, size: "48x3" %></p>
      <p><%= f.submit  "Обновить данные пациента", class: 'btn-control' %></p>
    <% end %>
  </div>
</p>
 <div class="li-control">

      <%= link_to 'Грохнуть пациента', patient_path(@patient), action: :delete,  method: :delete, data: { confirm: 'Вы уверены, удаляем пациента из базы?' }, class: 'btn-control patient_delete_control' %>

   </div>



