  <table>
    <tr>
      <td><%= @patient.name + " " + @patient.birthdate.strftime( "%d.%m.%y") %><td>
      <td><%= @patient.diagnosis %><td>
      <% if  @patient.city %>
        <td>Родился в г. <%= @patient.city.name %><td>
      <% end %>
      <td >Номер карты: <%=  @patient.id %><td>
      <td>Визитов: <%= @patient.visits.count %><td>
    </tr>
  </table>

  <p>
    <h3>МЕТОД СЛОЖНОГО БАЛАНСА</h3>
    <%= form_with local: true, method: :get, url: points_complex_balance_path do |f| %>
    <% hidden_field_tag(:city, current_doctor.city) %>
    <%= hidden_field_tag(:patient_id, @patient.id) %>
    <%= f.label " Выберите время: " %>
    <%= f.datetime_select :date, default: DateTime.now %>
    <%= f.datetime_select :birthdate, default: @patient.birthdate %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>

  <p>
    <h3>МЕТОД У ЮНЬ ЛЮ ЦИ</h3>
    <%= form_with local: true, method: :get, url: points_wu_yun_liu_thi_path do |f| %>
    <%  hidden_field_tag(:city, current_doctor.city) %>
    <%= hidden_field_tag(:patient_id, @patient.id) %>
    <%= f.label " Выберите время: " %>
    <%= f.datetime_select :date, default: DateTime.now %>
    <%= f.datetime_select :birthdate, default: @patient.birthdate %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>

  <p>
    <h3>МЕТОД У ЮНЬ ЛЮ ЦИ_TRUNK</h3>
    <%= form_with local: true, method: :get, url: points_wu_yun_liu_thi_trunk_path do |f| %>
    <%  hidden_field_tag(:city, current_doctor.city) %>
    <%= hidden_field_tag(:patient_id, @patient.id) %>
    <%= f.label " Выберите время: " %>
    <%= f.datetime_select :date, default: DateTime.now %>
    <%= f.datetime_select :birthdate, default: @patient.birthdate %>
    <%= f.submit "Рассчитать" %>
    <% end %>
  </p>


    <div>
      <h3><%= label_tag( "Добавить сеанс") %></h3>
      <%= form_with local: true, method: :post, url: visits_path, html: {onsubmit: "return confirm('Сохраняем сеанс?');"} do |f| %>
        <%= hidden_field_tag(:patient_id, @patient.id) %>
        <%= f.label 'Дата сеанса:' %>
        <%= f.datetime_select( :visited_at, default: DateTime.now) %>
        <h4>Примечание к сеанcу:</h4>
        <p><%= f.text_area :visit_description, :value => @patient.visits.last&.visit_description.to_s, size: "48x3" %></p>

        <h4>Лечение:</h4>
        <p><%= f.text_area :treatment, :value => @patient.visits.last&.treatment.to_s, size: "48x3" %></p>
        <p><%= f.submit "Добавить сеанс", class: 'btn-control' %></p>
      <% end %>
    </div>
  </p>

  <h3>Объем лечения:</h3>
  <ol class="reversed_list">
    <% @patient.visits.each do |t| %>
        <ul class="reversed_list_without_bullets">
          <li>
            <%= t.visit_description %>
          </li>
          <li>
            <%= t.treatment %>
          </li>
            <li >
              <%= link_to 'Удалить сеанс', t , action: :delete,  method: :delete, data: { confirm: 'Точно удалить сеанс?' }, class: 'btn-control'  %>
            </li>
        </ul>
        <li><%= t.visited_at.strftime( "%d.%m.%y") + "г. в " + t.visited_at.strftime( "%H:%M") + ". " + "Номер дня в году: " + t.visited_at.strftime("%j") %>
        </li>
    <% end %>
  </ol>

  <p>
  <div>
    <h3><%= label_tag( "Изменить данные пациента") %></h3>
    <%= form_with model: @patient, local: true, method: :patch, html: {onsubmit: "return confirm('Вы уверены?');"} do |f| %>
      <%= f.label "Имя" %>
      <%= f.text_field  :name  %>
      <%= f.label 'Дата рождения' %>
      <%= f.datetime_select( :birthdate, start_year: 1920, end_year: DateTime.current.year, default: @patient.birthdate) %>
      <h4>Описание состояния:</h4>
      <p><%= f.text_area :description, placeholder: 'Описание', size: "48x3" %></p>
      <h4>Диагноз:</h4>
      <p><%= f.text_area :diagnosis, size: "48x3" %></p>
      <%= f.label 'Место рождения (выбрать ближайший областной центр' %>
      <%= f.collection_select(:city_id, City.all.sort_by{|s| s.name}, :id, :name,  {:selected => @patient.city&.id} ) %></p>
      <div>
        <h5>Tongue</h5>
        <%= f.collection_check_boxes :tongue_chinese_disease_ids, ChineseDisease.all, :id, :name %>
      </div>
      <div>
        <h5>Pulse</h5>
        <%= f.collection_check_boxes :pulse_chinese_disease_ids, ChineseDisease.all, :id, :name %>
      </div>
      <p><%= f.submit  "Обновить данные пациента", class: 'btn-control' %></p>
    <% end %>
  </div>

  </p>

  <div class="li-control">
    <%= link_to 'Грохнуть пациента', patient_path(@patient), action: :delete,  method: :delete, data: { confirm: 'Вы уверены, удаляем пациента из базы?' }, class: 'btn-control patient_delete_control' %>
  </div>
