<h3>show page</h3>
<table>
  <td><%= @patient.name %><td>
  <td><%= @patient.birthdate %><td>
  <td><%= @patient.diagnosis %><td>
  <td><%= 'Номер карты: ' + @patient.id.to_s %><td>
  </tr>
</table>

<p>
  <div>
    <h3><%= label_tag( "Изменить данные пациента") %></h3>
    <%= form_with local: true, method: :patch, url: patient_path(id: @patient.id) do |f| %>
      <%= f.label "Имя" %>
      <%= f.text_field  :name, value: @patient.name  %>

      <%= f.label 'Дата рождения' %>
      <%= f.datetime_select( :birthdate, start_year: 1920, end_year: Date.current.year, default: @patient.birthdate) %>
      <p><%= text_area_tag :diagnosis,  @patient.diagnosis, size: "48x3" %></p>
      <p><%= f.submit "Внести в базу" %></p>
    <% end %>
  </div>
</p>