<h4>Meridians show</h4>
<h4> Name: <%= @meridian.name %> </h4>
<h3> Название: <%= @meridian.alias_ru%> </h3>
<h3> Энергия: <%= @meridian.energy_name %> </h3>
<h3> Элемент ВЕТВИ: <%= @meridian.element_brunch %> </h3>
<h3> Элемент СТВОЛА: <%= @meridian.element_trunc %> </h3>