<p>
  <%= form_with local: true, method: :get, url: doctors_linguibafa_path do %>
  <%= label_tag(  "МЕТОД ЛИНГУЙБАФА " "Выберите день") %>
  <%= datetime_select('user', 'date', default: DateTime.now) %>
  <%= submit_tag( "Отправить") %>
  <% end %>
</p>
<p>
  <%= form_with local: true, method: :get, url: doctors_infusion_path do %>
  <%= label_tag( "МЕТОД \"24 минуты \"" " Выберите день") %>
  <%= datetime_select('user', 'date', default: DateTime.now) %>
  <%= submit_tag( "Отправить") %>
  <% end %>
</p>
<p>
  <%= form_with local: true, method: :get, url: doctors_naganfa_path do %>
  <%= label_tag( "МЕТОД НАГАНЬФА " "Выберите день") %>
  <%= datetime_select('user', 'date', default: DateTime.now) %>
  <%= submit_tag( "Отправить") %>
  <% end %>
</p>
