  <h2>ЛИНГУЙБАФА: открыта точка  <%= @opened_points_linguibafa %></h2>
  <h2>Ствол дня: <%= @trunc_day %></h2>
  <h2>Сумма дня: <%= @sum_of_numbers_linguibafa%></h2>
  <h2>Солнечное время в г. <%= CITIES[0].values[0].to_s %> сейчас: <%= @sun_time.to_s(:short) %></h2>