  <h4>ЛИНГУЙБАФА: открыта точка  <%=  @opened_points_linguibafa %></h4>
  <h4>МЕСТНОЕ ВРЕМЯ: <%=  @doctor_current_datetime_utc.in_time_zone(current_doctor.city.time_zone).to_s(:short) %></h4>
    <h4>Солнечное время в г. <%= @doctor_city.name.to_s %> сейчас: <%= @sun_time %></h4>
  <h4>Поправка EOT <%= @eot %> секунды <h4>
  <%=  current_doctor.city.time_zone %>
  <h4>Ствол дня: <%= @trunc_day %></h4>
  <h4>Ветвь дня: <%= @brunch_day_calculation %></h4>
  <h4>Сумма дня: <%= @sum_of_numbers_linguibafa%></h4>

  <h4>Расчетное время: </h4>
  <h4>Конец активности точки: <%= %></h4>

  <h4>Time zone: <%=  current_doctor.city.time_zone %></h4>




