<h3>Метод Лунных Дворцов</h3>
<h4> Расчетный день:  <%= params["date"].values[0] +  '.' + params["date"].values[1] + '.' + params["date"].values[2] %> </h4>
<h3> Для мужчины:</h3>
<% @points_of_lunar_palaces[0][:men].map do |point| %>
<%= link_to point.name.to_s + " " + point.alias_ru.to_s, controller: :points, action: :show_point, id: point.id %>
<% end %>
<h3> Для женщины:</h3>
<% @points_of_lunar_palaces[0][:woman].map do |point|  %>
<%= link_to point.name.to_s + " " + point.alias_ru.to_s, controller: :points, action: :show_point, id: point.id %>
<% end %>
<h4> @lunar_palaces_year_num: (год) <%= @lunar_palaces_year_num %> </h4>
<h4> @lunar_palaces_month_num: (месяц) <%= @lunar_palaces_month_num %> </h4>
<h4> Лунный дворец на выбранную дату: <%= @lunar_palace_opposite %> </h4>







