

 <% @title="Wu_Yun" %>
  <h4> Пациент: <%= @patient.name %>,  Дата рождения: <%= @patient.birthdate.strftime("%d.%m.%Y") %></h4>

<div class="wu_yun_energyes_map">
  <div class="full">
    <p>
      Сильный слой: <%= link_to  @full_layer.name , layer_path(id:  @full_layer.id), action: :show %>
    </p>
    <p>
      меридианы: <%=link_to @full_layer.leg_meridian.alias_ru , meridian_path(id: @full_layer.leg_meridian.id), action: :show  %> , <%= link_to  @full_layer.arm_meridian.alias_ru, meridian_path(id: @full_layer.arm_meridian.id) %>
     (<%= @full_layer.leg_meridian_element %>, <%= @full_layer.arm_meridian_element %>)
    </p>
    <p>
      СИЛЬНЫЙ СТВОЛ: <%= @full_trunk_year.serial_number %>, <%= link_to @full_trunk_year.year_meridian.alias_ru, meridian_path(id: @full_trunk_year.year_meridian.id), action: :show %>
    </p>
      <p>
        Энергия Ствола: <%=  @full_trunk_year.trunk_energy %>
      </p>
      <p>
        СИЛЬНАЯ ВЕТВЬ: <%= link_to @full_branch_year.day_meridian.alias_ru, meridian_path(id: @full_branch_year.day_meridian.id), action: :show %>
      </p>
      <p>
        ( меридиан: <%= @full_branch_year.day_meridian.energy_name %>, ветвь: <%= @full_branch_year.day_meridian.element_branch %> )
      </p>


  </div>

<div class="empty">

    <table>Слабый слой:
     <% @empty_layer.each do |elem| %>
      <tr>
        <%= link_to elem.name, layer_path(id:  elem.id), action: :show  %>
      </tr>
         <td>
            меридианы: <%= link_to elem.leg_meridian.alias_ru, meridian_path(id:  elem.leg_meridian.id),action: :show  %>, <%= link_to elem.arm_meridian.alias_ru, meridian_path(id: elem.arm_meridian.id), action: :show %> (<%= elem.leg_meridian.energy_name %> , <%= elem.arm_meridian.energy_name %>)
        </td>
      <% end %>
    </table>


    <p>
      Слабый ствол:  <%= @empty_trunk_year.serial_number %>, <%= link_to @empty_trunk_year.year_meridian.alias_ru, meridian_path(id: @empty_trunk_year.year_meridian.id), action: :show %> <%= @empty_trunk_year_trunk_energy %>, (<%= @empty_trunk_year.year_meridian.energy_name %>)
    </p>
  <p>
    СЛАБАЯ ВЕТВЬ: <%= link_to @empty_branch_year.day_meridian.alias_ru, meridian_path(id:  @empty_branch_year.day_meridian.id), action: :show %> (<%= @empty_branch_year.day_meridian.energy_name %>, <%= @empty_branch_year.day_meridian.element_branch %>)
  </p>

</div>

<div class="lost">
  <table>
    <caption>Потерянная Ци:</caption>
    <tr>
      <% @missing_energies_meridians.map(&:energy_name).uniq.each do |energy_name| %>
      <td>
        <%= @missing_energy_name = energy_name %>
      </td>
    </tr>
      <% end %>
    </table>
    Меридианы Потерянной Ци:
    <% @missing_energies_meridians.compact.each do |elem| %>
    <%= link_to elem.alias_ru, meridian_path(id: elem.id), action: :show %>
    <% end %>
  </div>

</div>



  <table>
    <tr>

    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>

      <td>

      </td>
    </tr>
    <tr>

    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </table>
<%=  render partial:  'shared/star', locals: { star: @change_color } %>

<h5> Энергии у-син <%= @star_5_energies_wu_yun %> </h5>
<h5> Пустые Дома У-син <%= @star_5_energies_wu_yun_remainder %> </h5>
<h5> Сезонные Энергии: <%= @star_season_energies_wu_yun %> </h5>
<h5> Пустые Дома Сезонов: <%= @star_season_energies_wu_yun_remainder %> </h5>

<ul>Меридианы Пустых домов У-СИН
  <% @star_5_energies_wu_yun_remainder_meridians.map do |meridian| %>
    <li>
      <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
    </li>
  <% end %>
</ul>

<ul>Меридианы Пустых Домов Сезонов
  <% @star_season_energies_wu_yun_remainder_meridians.map do |meridian| %>
    <li>
      <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
    </li>
  <% end %>
</ul>














