

 <% @title="Wu_Yun" %>
  <h4> Пациент: <%= @patient.name %>,  Дата рождения: <%= @patient.birthdate.strftime("%d.%m.%Y") %></h4>

<div class="wu_yun_energyes_map">
  <div>
    Сильный слой: <%= link_to  @full_layer.name , layer_path(id:  @full_layer.id), action: :show %>
  </div>
 <div>
   меридианы: <%=link_to @full_layer.leg_meridian.alias_ru , meridian_path(id: @full_layer.leg_meridian.id), action: :show  %> (<%= @full_layer.leg_meridian_element %>) , <%= link_to  @full_layer.arm_meridian.alias_ru, meridian_path(id: @full_layer.arm_meridian.id) %> (<%= @full_layer.arm_meridian_element %>)
 </div>

</div>

  <table>
    <tr>
      <td>СИЛЬНЫЙ СЛОЙ: <%= link_to @full_layer.name , layer_path(id:  @full_layer.id), action: :show %></td>
    </tr>
    <tr>
      <td>
        меридианы: <%=link_to @full_layer.leg_meridian.alias_ru , meridian_path(id: @full_layer.leg_meridian.id), action: :show  %> (<%= @full_layer.leg_meridian_element %>) , <%= link_to  @full_layer.arm_meridian.alias_ru, meridian_path(id: @full_layer.arm_meridian.id) %> (<%= @full_layer.arm_meridian_element %>)
      </td>
      <td>
        <ul>Слабый слой(слои):
         <% @empty_layer.each do |elem| %>
          <li>
            <%= link_to elem.name, layer_path(id:  elem.id), action: :show  %>
          </li>
            <ul>
              <li>
                меридианы: <%= link_to elem.leg_meridian.alias_ru, meridian_path(id:  elem.leg_meridian.id),action: :show  %>
                <%= link_to elem.arm_meridian.alias_ru, meridian_path(id: elem.arm_meridian.id), action: :show %>
              </li>
            </ul>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        СИЛЬНЫЙ СТВОЛ: <%= @full_trunk_year.serial_number %>, <%= link_to @full_trunk_year.year_meridian.alias_ru, meridian_path(id: @full_trunk_year.year_meridian.id), action: :show %>, ( Энергия Ствола: <%=  @full_trunk_year.trunk_energy %>)
      </td>
      <td>
        СЛАБЫЙ СТВОЛ:  <%= @empty_trunk_year.serial_number %>, <%= link_to @empty_trunk_year.year_meridian.alias_ru, meridian_path(id: @empty_trunk_year.year_meridian.id), action: :show %> <%= @empty_trunk_year_trunk_energy %>, Энергия меридиана: (<%= @empty_trunk_year.year_meridian.energy_name %>)
      </td>
    </tr>
    <tr>
      <td>
        СИЛЬНАЯ ВЕТВЬ: <%= link_to @full_branch_year.day_meridian.alias_ru, meridian_path(id: @full_branch_year.day_meridian.id), action: :show %> (<%= @full_branch_year.day_meridian.energy_name %>), id:<%= @full_branch_year.id %>
      </td>
    </tr>
    <tr>
      <td>
         Энергия Ветви: <%= @full_branch_year.day_meridian.element_branch %>, Энергия Меридиана: <%= @full_branch_year.day_meridian.energy_name %>
      </td>
      <td>
        СЛАБАЯ ВЕТВЬ: <%= link_to @empty_branch_year.day_meridian.alias_ru, meridian_path(id:  @empty_branch_year.day_meridian.id), action: :show %> (<%= @empty_branch_year.day_meridian.energy_name %>)
      </td>
    </tr>
    <tr>
      <td>
        <ul> <h4> Отсутствующая Ци: </h4>
          <% @missing_energies_meridians.map(&:energy_name).uniq.each do |energy_name| %>
            <li>
              <%= @missing_energy_name = energy_name %>
            </li>
          <% end %>
        </ul>
      </td>
      <td>
        Меридианы Отсутствующей Ци:
        <% @missing_energies_meridians.compact.each do |elem| %>
        <%= link_to elem.alias_ru, meridian_path(id: elem.id), action: :show %>
        <% end %>
      </td>
    </tr>
  </table>
<%=  render partial:  'shared/star', locals: { star: @change_color } %>

<h5> Энергии у-син <%= @star_5_energies_wu_yun %> </h5>
<h5> Пустые Дома У-син <%= @star_5_energies_wu_yun_remainder %> </h5>
<h5> Сезонные Энергии: <%= @star_season_energies_wu_yun %> </h5>
<h5> Пустые Дома Сезонов: <%= @star_season_energies_wu_yun_remainder %> </h5>

<ul>Меридианы Пустых домов У-СИН
  <% @star_5_energies_wu_yun_remainder_meridians.map do |meridian| %>
    <li>
      <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
    </li>
  <% end %>
</ul>

<ul>Меридианы Пустых Домов Сезонов
  <% @star_season_energies_wu_yun_remainder_meridians.map do |meridian| %>
    <li>
      <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
    </li>
  <% end %>
</ul>














