

  <h5> КУЧКА ЭНЕРГИЙ № РАЗ: <%= @star_1_wu_yun %> </h5>
  <h5> ОСТАТОЧЕК № РАЗ: <%= @star_1_wu_yun_reminder %> </h5>
  <h5> КУЧКА ЭНЕРГИЙ № КВА: <%= @star_2_wu_yun %> </h5>
  <h5> ОСТАТОЧЕК № КВА: <%= @star_2_wu_yun_reminder %> </h5>
    <ul>Меридианы остатка № РАЗ:
      <% @star_1_wu_yun_reminder_meridians.flatten.compact.map do |meridian| %>
        <li>
          <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
        </li>
      <% end %>
    </ul>
    <ul>Меридианы остатка № КВА:
      <% @star_2_wu_yun_reminder_meridians.flatten.compact.map do |meridian| %>
        <li>
          <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
        </li>
      <% end %>
    </ul>

<h4>Отсутствующая Ци:</h4>
<ul>
  <% @missing_energy.uniq.each do |elem| %>
    <li>
      <%= elem %>
    </li>
<% end %>
</ul>

<p>
Меридианы Отсутствующей Ци:
<% @missing_energy_meridians.compact.each do |elem| %>
<%= link_to elem.alias_ru, meridian_path(id: elem.id), action: :show %>
<% end %>
</p>

<h5>Cильный слой: <%= link_to @full_layer.name , layer_path(id:  @full_layer.id), action: :show %>  (<%= @full_layer.leg_meridian_name %> , <%= @full_layer.arm_meridian_name %>)</h5>
<h5>СИЛЬНЫЙ слой, меридианы: <%=link_to @full_layer.leg_meridian_name , meridian_path(id: @full_layer.leg_meridian.id), action: :show  %> (<%= @full_layer.leg_meridian_element %>) , <%= link_to  @full_layer.arm_meridian_name, meridian_path(id: @full_layer.arm_meridian.id) %> (<%= @full_layer.arm_meridian_element %>)</h5>

 <ul>Слабый слой(слои):
 <% @empty_layer.each do |elem| %>
  <li>
    <%= link_to elem.name, layer_path(id:  elem.id), action: :show  %>
  </li>
    <ul>
      <li>
        меридианы: <%= link_to elem.leg_meridian_name, meridian_path(id:  elem.leg_meridian.id),action: :show  %>
        <%= link_to elem.arm_meridian_name, meridian_path(id: elem.arm_meridian.id), action: :show %>
      </li>
    </ul>
<% end %>
</ul>

<h3>СИЛЬНЫЙ СТВОЛ: <%= @full_trunc_year.serial_number %>, <%= link_to @full_trunc_year.year_meridian.name, meridian_path(id: @full_trunc_year.year_meridian.id), action: :show %>,  ( Энергия Ствола: <%=  @full_trunc_year.element %>),  Энергия Ветви: <%= @full_trunc_year.year_meridian.element_branch %>, Энергия Меридиана: <%= @full_trunc_year.year_meridian.energy_name %> </h5>

<h3>слабый ствол:  <%= @empty_trunc_year.serial_number %>, <%= link_to @empty_trunc_year.year_meridian.name, meridian_path(id: @empty_trunc_year.year_meridian.id), action: :show %>,<%= @empty_trunc_year.element %>, Энергия меридиана: (<%= @empty_trunc_year.year_meridian.energy_name %>) </h3>


<h3>СИЛЬНАЯ ВЕТВЬ: <%= link_to @full_branch_year.day_meridian.name, meridian_path(id: @full_branch_year.day_meridian.id), action: :show %> (<%= @full_branch_year.day_meridian.energy_name %>) </h3>
<h3>слабенькая веточка: <%= link_to @empty_branch_year.day_meridian.name, meridian_path(id:  @empty_branch_year.day_meridian.id), action: :show %> (<%= @empty_branch_year.day_meridian.energy_name %>) </h3>












