

 <% @title="Wu_Yun" %>
  <h4> Пациент: <%= @patient.name %>,  Дата рождения: <%= @patient.birthdate.strftime("%d.%m.%Y") %></h4>
<div class="wu_yun_container">
  <div class="wu_yun_energyes_map">
    <div class="full">
      <table class="full_table">
        <tr >
          <td class="wu_yun_first_cell">
             Сильный слой:
          </td>
          <td> <%= link_to  @full_layer.name , layer_path(id:  @full_layer.id), action: :show %>
          </td>
        </tr>
        <tr>
          <td class="wu_yun_first_cell">
            меридианы:
          </td>
          <td>
             <%=link_to @full_layer.leg_meridian.alias_ru , meridian_path(id: @full_layer.leg_meridian.id), action: :show  %>, <%= link_to  @full_layer.arm_meridian.alias_ru, meridian_path(id: @full_layer.arm_meridian.id) %>
          </td>
        </tr>
        <tr>
          <td class="wu_yun_first_cell">
            Сильный ствол:
          </td>
          <td>
             <%= link_to @full_trunk_year.year_meridian.alias_ru, meridian_path(id: @full_trunk_year.year_meridian.id), action: :show %>
          </td>
        </tr>
        <tr>
          <td class="wu_yun_first_cell">
            Сильная ветвь:
          </td>
          <td>
           <%= link_to @full_branch_year.day_meridian.alias_ru, meridian_path(id: @full_branch_year.day_meridian.id), action: :show %>
          (ветвь: <%= @full_branch_year.day_meridian.element_branch %>)
          </td>
        </tr>
      </table>
    </div>

    <div class="empty">
      <table class="empty_table">
       <% @empty_layer.each do |elem| %>
        <tr >
          <td class="wu_yun_first_cell">
            Слабый слой:
          </td>
          <td><%= link_to elem.name, layer_path(id:  elem.id), action: :show  %>
          </td>
        </tr>
        <tr>
          <td class="wu_yun_first_cell">
            меридианы:
          </td>
          <td><%= link_to elem.leg_meridian.alias_ru, meridian_path(id:  elem.leg_meridian.id),action: :show  %>, <%= link_to elem.arm_meridian.alias_ru, meridian_path(id: elem.arm_meridian.id), action: :show %>
          </td>
          <% end %>
        </tr>
        <tr>
          <td class="wu_yun_first_cell">
            Слабый ствол:
          </td>
          <td>
             <%= link_to @empty_trunk_year.year_meridian.alias_ru, meridian_path(id: @empty_trunk_year.year_meridian.id), action: :show %> <%= @empty_trunk_year_trunk_energy %>
          </td>
        </tr>
        <tr>
          <td class="wu_yun_first_cell">
            Слабая ветвь:
          </td>
          <td>
            <%= link_to @empty_branch_year.day_meridian.alias_ru, meridian_path(id:  @empty_branch_year.day_meridian.id), action: :show %> (ветвь: <%= @empty_branch_year.day_meridian.element_branch %>)
          </td>
        </tr>
      </table>
    </div>

    <div class="lost">
      <table class="lost_table">
        <caption>Потерянная Ци:</caption>
        <tr>
          <% @missing_energies_meridians.map(&:energy_name).uniq.each do |energy_name| %>
          <td>
            <%= @missing_energy_name = energy_name %>,
          </td>
          <% end %>
          <td> Меридианы Потерянной Ци:
            <% @missing_energies_meridians.compact.each do |elem| %>
            <%= link_to elem.alias_ru, meridian_path(id: elem.id), action: :show %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%=  render partial:  'shared/star', locals: { star: @change_color } %>

<div class="wu_yun_advanced_energies_and_houses">
  <ul>Меридианы Пустых домов У-СИН
    <% @star_5_energies_wu_yun_remainder_meridians.map do |meridian| %>
      <li>
        <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
      </li>
    <% end %>
  </ul>
  <ul>Меридианы Пустых Домов Сезонов
    <% @star_season_energies_wu_yun_remainder_meridians.map do |meridian| %>
      <li>
        <%= link_to meridian.alias_ru, meridian_path(id: meridian.id) %>
      </li>
    <% end %>
  </ul>
</div>
