<h3> Layer show </h3>
<h4> Название: <%= @layer.name %> </h4>
<h4> Энергия Ке: <%= @layer.element_ke %> </h4>
<h4> Ножной меридиан: <%= @layer.leg_meridian_name %>, (<%= @layer.leg_meridian_element %>) </h4>
<h4> Ручной меридиан: <%= @layer.arm_meridian_name %>, (<%= @layer.arm_meridian_element %>) </h4>
