<h3> Layer show </h3>
<h4> Название: <%= @layer.name %> </h4>
<h4> Энергия Ке: <%= @layer.element_ke %> </h4>
<h4> Ножной меридиан: <%= @layer.foot_meridian_name %>, (<%= @layer.foot_meridian_element %>) </h4>
<h4> Ручной меридиан: <%= @layer.hand_meridian_name %>, (<%= @layer.hand_meridian_element %>) </h4>
