<!DOCTYPE html>
<html>

 <head>
  <title><%= @title || 'Chrono' %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body class="<%= cookies.signed[:color_mode_cookie] || 'theme-light' %>">
    <section>
      <% if current_doctor&.paid_until != nil %>
           <span class="paid_until">Оплачено еще: <%= distance_of_time_in_words(Time.current, current_doctor&.paid_until)%></span>
          <% end %>
      <div class="btn_mode"> <%= change_theme_link('theme-light', 'День')%> </div>
      <div class="btn_mode"> <%= change_theme_link('theme-dark', 'Ночь')%> </div>
      <div class="btn_mode"> <%= change_theme_link('theme-olive', 'Оливка')%> </div>
      <div class="btn_mode"> <%= change_theme_link('theme-grey', 'Серый')%> </div>
        <% if doctor_signed_in? && (current_doctor&.paid_period_seconds_left  > 0 || current_doctor&.moderator? )%>
          <%= link_to "страница доктора", patients_path, class: 'btn-control'  %>
          <%= link_to 'Личный кабинет', edit_doctor_registration_path, class: 'btn-control', :method => :get %>
          <%= link_to 'Выйти', destroy_doctor_session_path, class: 'btn-control', :method => :delete, data: { confirm: 'Уверены, выходим?' } %>
            <%= link_to 'English', root_path(locale: :en) %> <%= link_to 'Русский', root_path(locale: :ru) %>
          <h3>Город доктора: <%= current_doctor.city.name %></h3>
          <h3>Таймзона доктора: <%= current_doctor.city.time_zone %></h3>
        <% elsif doctor_signed_in? && current_doctor&.paid_period_seconds_left  <= 0  %>
        <h3>Время истекло, пора внести абонплату</h3>

        <% end %>

    </section>

      <p class="notice"><%= notice %></p> <!-- это от гема devise -->
      <p class="alert"><%= alert %></p>

     <!--  это от гема devise -->
      <%= yield %>

  </body>

</html>
