<!DOCTYPE html>
<html>

 <head>
  <title><%= @title || 'Chrono' %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body class="<%= cookies.signed[:color_mode_cookie] || 'theme-light' %>">
  <div class="btn_mode"> <%= change_theme_link('theme-light', 'День')%> </div>
  <div class="btn_mode"> <%= change_theme_link('theme-dark', 'Ночь')%> </div>
  <div class="btn_mode"> <%= change_theme_link('theme-olive', 'Оливка')%> </div>
  <div class="btn_mode"> <%= change_theme_link('theme-grey', 'Серый')%> </div>


  <% if doctor_signed_in? %>
      <nav class="navigation">
        <ul>
          <li><%= link_to 'English', root_path(locale: :en) %> <%= link_to 'Русский', root_path(locale: :ru) %></li>
        </ul>
      </nav>
      <%= link_to "страница доктора", patients_path, class: 'btn-control'  %>
      <h3>Город доктора: <%= current_doctor.city.name %></h3>
      <h3>Таймзона доктора: <%= current_doctor.city.time_zone %></h3>
  <% end %>
      <p class="notice"><%= notice %></p> <!-- это от гема devise -->
      <p class="alert"><%= alert %></p>

     <!--  это от гема devise -->
      <%= yield %>

  </body>

</html>
