<!DOCTYPE html>

<html>

  <head>
    <title>Chronopuncture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

      <%= link_to "страница доктора", patients_path, class: 'btn-control'  %>
      <p class="notice"><%= notice %></p> <!-- это от гема devise -->
      <p class="alert"><%= alert %></p>
     <!--  это от гема devise -->
      <%= yield %>

  </body>

</html>
