<!DOCTYPE html>
<html>

 <head>
  <title><%= @title || 'Chrono' %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body class="<%= cookies.signed[:color_mode_cookie] || 'theme-light' %>">
    <section>
      <% if current_doctor&.paid_until != nil %>
        <span class="paid_until">Оплачено еще: <%= distance_of_time_in_words(Time.current.in_time_zone(current_doctor.city.time_zone), current_doctor&.paid_until)%></span>
        <% end %>
      <div class="btn_mode"> <%= change_theme_link('theme-light', 'Светлая')%> </div>
      <div class="btn_mode"> <%= change_theme_link('theme-bright', 'Яркая')%> </div>
      <div class="btn_mode"> <%= change_theme_link('theme-olive', 'Оливка')%> </div>
      <div class="btn_mode"> <%= change_theme_link('theme-grey', 'Серая')%> </div>
      <% if  doctor_signed_in? %>
        <% if current_doctor&.paid_period_seconds_left  > 0 || current_doctor&.moderator? %>
            <%= link_to "страница доктора", patients_path, class: 'btn-control'  %>
            <%= link_to 'Личный кабинет', edit_doctor_registration_path, class: 'btn-control', :method => :get %>
            <%= link_to 'Выйти', destroy_doctor_session_path, class: 'btn-control', :method => :delete, data: { confirm: 'Уверены, выходим?' } %>
            <%= link_to 'English', root_path(locale: :en), class: 'btn-control' %> <%= link_to 'Русский', root_path(locale: :ru), class: 'btn-control' %>
            <% elsif current_doctor&.paid_period_seconds_left < 0 || current_doctor&.moderator? == false %>
            <%= render partial: "pages/pay" %>

      <% end %>
        <div class="patients_list_show">
            <div class="list_control_patients_show">
              Город: <%= current_doctor.city.name %>, Таймзона: <%= current_doctor.city.time_zone %>
              <br>
                <%=  render partial: "shared/forbidden_action_60_days" %>
              <br>
              Ствол дня сегодня, <%= Date.current.in_time_zone(current_doctor.city.time_zone).strftime("%d.%m.%Y") %>: <strong><%= @trunk_today %></strong>, энергия Ствола: <strong><%= @trunk_energy %></strong>, меридиан Ствола: <strong><%= @trunk_meridian %></strong>, Запрет: <strong><%= @forbidden_action_by_days %></strong>
              <br>
                Ветвь дня: <strong><%=  @branch_day %></strong>, Запрет: <strong><%=  @forbidden_action_by_branch %></strong>

            </div>
        </div>
      <% end %>
    </section>
      <p class="notice"><%= notice %></p> <!-- это от гема devise -->
      <p class="alert"><%= alert %></p>
      <!--  это от гема devise -->

      <%= yield %>


  </body>

</html>
